@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #573824;
  --surface-color: #f0e8c2;
  --text-color-primary: #291b1a;
  --text-color-secondary: #573a37;
  --text-color-bg: #f0e8c2;
}

body {
  font-family: "Alice", serif;
  background-color: var(--bg-color);
  background-image: url(../img/bg-image.png);
  background-size: cover;
  height: 100vh;
}

p {
  line-height: 1.5;
  text-align: justify;
  color: var(--text-color-secondary);
}

.container {
  width: 800px;
  background-color: var(--surface-color);
  margin: 1rem auto;
  border-radius: 1rem;
  padding: 1.5rem;
}

.container img {
  display: block;
  margin: 0 auto;
}

.container main {
  padding: 1.5rem;
}

.about-section h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2;
  color: var(--text-color-primary);
}

.about-section p {
  margin-bottom: 0.75rem;
}

.subtitle {
  margin-top: 1rem;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color-primary);
}

.ingredients-section ul {
  list-style-position: inside;
  padding-left: 0.75rem;
  line-height: 1.5;
  color: var(--text-color-secondary);
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

footer p {
  text-align: center;
  color: var(--text-color-bg);
}
